.table {
    width: 100%;
    margin-bottom: 1.2em;
    padding-bottom: 1.2em;
    border-spacing: 0;
  }

  .hr {
    border-bottom: 1px lightgray solid;
  }
  .table td {
    padding: 0.1em;
  }

  .title {
    font-size: 1.8em;
    text-align: center;
  }

  .label {
    font-size: 0.7em;
  }
  .small {
    font-size: 0.7em;
  }
  .smallest {
    font-size: 0.6em;
  }
  .bold {
    font-weight: bold;
  }

  .flight {
    border: 1px lightgray solid;
  }
  .flight td {
    padding: 1em;
    width: 20%;
  }
  .flight-head {
    background-color: rgb(53, 60, 73);
    color: whitesmoke;
    font-size: 1.2em;
    padding: 0.2em;
  }
  .flight-label {
    background-color: rgb(246, 247, 248);
    border: 1px grey solid;
  }
  .flight-label .label {
    padding-left: 1.5em;
  }
  .flight-small {
    font-size: 0.9em;
  }

  .price {
    font-size: 0.8em;
    width: 100%;
    line-height: 1.8em;
  }
  .price-cell {
    width: 40%;
    vertical-align: top;
    padding-right: 2em !important;
  }
  .price-sum {
    text-align: right;
  }
  .price-total {
    font-weight: bold;
  }

  input {
    border: none;
    background-color: yellow;
    font-size: inherit;
    font-weight: inherit;
    text-align: inherit;
    width: 90%;
  }
  @media print {
    input{
      background-color: white !important;
    }
  }
